In [1]:
from sklearn.utils import shuffle
import pandas as pd
import numpy as np
from sklearn.metrics import confusion_matrix

In [7]:
x=np.array([[1,2]])
y=np.array([[2],[1]])
z=np.dot(x,y)
z.shape

(1, 1)

In [9]:
import numpy as geek
  
in_arr1 = geek.array([[2, -7, 5], [-6, 2, 0]])
in_arr2 = geek.array([[0, -7, 8], [5, -2, 9]])
   
print ("1st Input array : ", in_arr1.shape)
print ("2nd Input array : ", in_arr2.shape)
   
    
out_arr = geek.multiply(in_arr1, in_arr2) 
print ("Resultant output array: ", out_arr.shape)

1st Input array :  (2, 3)
2nd Input array :  (2, 3)
Resultant output array:  (2, 3)

In [2]:


class TaskOne:

    def __init__(self,data,columsList,lable1,lable2) -> None:
        self.weights=np.random.rand(len(columsList))
        self.bios=0
        self.columsList=columsList
        self.lable1=lable1
        self.lable2=lable2
        self.data=data

        self.trainData,self.testData=self.get_data()

        print(len(self.trainData),len(self.testData))

    def get_data(self):
        d1=self.data[self.data['species']==self.lable1]
        d1trian,d1test=d1[:30],d1[30:50]
        d2=self.data[self.data['species']==self.lable2]
        d2trian,d2test=d2[:30],d2[30:50]
        datatrain=shuffle(pd.concat([d1trian,d2trian]))
        datatest=shuffle(pd.concat([d1test,d2test]))
        return datatrain,datatest
      
    def signum(self,net):
        if net>0:
            return 1
        elif net<0:
            return -1
        elif net == 0:
            return 0 

    

    def fit(self,learnRate,epochs,biosed=True):
        def lable(x):
            if x==self.lable1:
                return 1
            else: return -1
        self.trainData['species']=self.trainData['species'].apply(lable)

        for i in range(epochs):
            for X,Y in zip(self.trainData[self.columsList].values,self.trainData['species'].values):
                net=np.dot(self.weights.T,np.array(X))+self.bios
                Q=self.signum(net)
                loss=Y-Q
                self.weights=self.weights+learnRate*loss*X
                if biosed:
                    self.bios=self.bios+learnRate*loss
        return self.weights,self.bios
    

    def predict(self):
        ydash=[]
        def lable(x):
            if x==self.lable1:
                return 1
            else: return -1
        self.testData['species']=self.testData['species'].apply(lable)

        for X in self.testData[self.columsList].values:
                net=np.dot(self.weights.T,np.array(X))+self.bios
                ydash.append(self.signum(net))

        return np.array(ydash)

    def score(self):
        v=self.predict()
        sumCorrectItems=0
        
        for i,j in zip(v,self.testData['species']):
            if i==j:
                sumCorrectItems+=1
        return sumCorrectItems/len(self.testData)

    def confusionMatrix(self):
        true1=0
        true0=0
        false1=0
        false0=0
        pred=self.predict()
    
        for i in range(len(self.testData)):
            if(pred[i]==1 & self.testData['species'].values[i]==1):
                true1+=1
            elif(pred[i]==-1 & self.testData['species'].values[i]==-1):
                true0+=1
            elif(pred[i]==1 & self.testData['species'].values[i]==-1):
                false1+=1
            elif(pred[i]==-1 & self.testData['species'].values[i]==1):
                false0+=1
            
        return np.array([[true1,false1],[false0,true0]])

In [3]:
data =pd.read_csv('penguins.csv')
data.head(1)

,species,bill_length_mm,bill_depth_mm,flipper_length_mm,gender,body_mass_g
0,Adelie,39.1,18.7,181,male,3750

In [4]:
data.isna().sum()

species              0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
gender               6
body_mass_g          0
dtype: int64

In [5]:
data['gender'].unique()

array(['male', 'female', nan], dtype=object)

In [6]:
data['gender'].mode()

0    female
1      male
Name: gender, dtype: object

In [7]:
data['gender'].fillna('male',inplace=True)

In [8]:
data['gender'].unique()

array(['male', 'female'], dtype=object)

In [9]:
def genderlable(x):
    if x=='male':
        return 1
    else :return 0
data['gender']=data['gender'].apply(genderlable)

In [10]:
data.head()

,species,bill_length_mm,bill_depth_mm,flipper_length_mm,gender,body_mass_g
0,Adelie,39.1,18.7,181,1,3750
1,Adelie,39.5,17.4,186,0,3800
2,Adelie,40.3,18.0,195,0,3250
3,Adelie,39.6,17.7,186,0,3500
4,Adelie,36.7,19.3,193,0,3450

In [11]:
data.species.unique()

array(['Adelie', 'Gentoo', 'Chinstrap'], dtype=object)

In [12]:
data.columns

Index(['species', 'bill_length_mm', 'bill_depth_mm', 'flipper_length_mm',
       'gender', 'body_mass_g'],
      dtype='object')

In [15]:
model=TaskOne(data,['bill_depth_mm', 'flipper_length_mm',],'Adelie','chinstrap')
model.fit(0.01,1000)
print(model.score())
model.confusionMatrix()

30 20
1.0

array([[20,  0],
       [ 0,  0]])